.container {
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #44246C;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.home-left-side, .home-right-side {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-left-side {
    width: 40%;
}

.home-right-side {
    width: 60%;
    justify-content: end;
}

.home-right-side-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: calc(100% - 60px);
    max-height: 100%;
    background-color: #542A8A;
    border-radius: 90% 0% 0% 0%;
    border-top: 60px solid #6f5db6;
    border-left: 15px solid #6f5db6;
}

.home-right-side-container-about-me {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-right-side-about-me {
    text-align: justify;
    font-family: "Poppins";
    font-size: 14pt;
    font-weight: 300;
}

.home-right-side-container-social-media {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-right-side-social-media-img {
    width: 40px;
    height: 40px;
    margin: 10px;
}