.NavBar {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #44246C;
}

.NavBar-Left-Side {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

.NavBar-Rigth-Side {
    display: flex;
    align-items: center;
    margin-right: 1.25rem;
}

.Name {
    color: #FFFFFF;
    font-size: 16pt;
    font-family: "Poppins";
    font-weight: bold;
}

.Logo {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.MuiTab-root {
  color: white !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #5DB65D !important;
}

.MuiTabs-indicator {
  background-color: #5DB65D !important;
}