<div class="container-suggestions">
    <div class="suggestions-web" [ngStyle]="{'display': suggestionsStyle }"> 
        <div class="container-suggestion"  *ngFor="let suggestion of suggestions">
            <div class="suggestion" (click)="search(suggestion.title)">
                <div>
                    <h2>
                        {{ suggestion.title }}
                    </h2>
                    <p>
                        {{ suggestion.description }}
                    </p>
                </div>
                <div></div>
                <fa-icon class="icon-plane-suggestion" [icon]="faPlane" size="xl"></fa-icon>
            </div>
        </div>
    </div>
    <div class="suggestions-mobile">
        <div class="options">
            <h2>
                Seggestions
            </h2>
            <fa-icon class="suggestion-icon" [icon]="faPlus" size="lg"></fa-icon>
        </div>
    </div>
</div>
