<div class="container-search">
    <div class="search">
        <form class="form-search" (ngSubmit)="onSubmit()">
            <input class="input-search" autocomplete="off" autofocus [(ngModel)]="search" type="text" name="search" id="search" placeholder="Send a Message">
            <div class="container-icon-plane">
                <button id="button-icon-plane" [ngStyle]="{'background-color': search ? '#1E212D' : '#3F4356'}" class="button-icon-plane" type="submit" (click)="onSubmit()">
                    <fa-icon class="icon-plane" [icon]="faPlane" size="xl"></fa-icon>
                </button>
            </div>
        </form>
    </div>
</div>
