.container-not-found {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #44246C;
}

.container-img {
    width: 120px;
    height: 120px;
}

.not-found-top-bar {
    width: calc(100% - 1rem);
    height: 4rem;
    margin: 1rem;
}

.not-found-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.not-found-button {
    color: #5DB65D !important;
    border-color: #5DB65D !important;
}

.not-found {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20pt;
    color: white;
}